#DELANI{
  position: relative;
  padding-top: 250px;
}
#clicker{
  position: relative;
  padding-top: 500px;
}
#services{
  position: relative;
  padding-top: 100px;
}
#portfolio img{
  width: 100%;
}
.projectsect{
  height: 15%;
  width: 15%;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}
#name{
  width: 400px;
  margin-right: 50px;
  margin-bottom: 50px;
  background: transparent;
}
#email{
  width: 400px;
  background: transparent;
}
#message{
  background: transparent;
}
